{% extends "freelancer_app/base.html" %}
{% block title%} Profile List{% endblock title %}
{% block maincontent %}
<div id="content">
    <section>
        <div class="section-body">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-10">
                            <h3 class="text-center">Freelancer Profile</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'freelancer_app:create_profile' %}"><button class="align-right">Add New <i class="fa fa-plus"></i></button></a>
                        </div>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr>
                                    <th>{{i.id}}</th>
                                    <td>{{i.name}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.phone_no}}</td>
                                    <td>
                                        <a class="create-btn btn" data-toggle="modal" data-target="#myModal" data-url="{% url 'freelancer_app:delete_profile' i.id %}"><button>Delete</button></a>
                                        <a href="{% url 'freelancer_app:edit_profile' i.id %}"><button>Edit</button></a>
                                        <a href="{% url 'freelancer_app:profile_view' i.id %}"><button>View</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- Modal Start -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">          
          <!-- Modal content-->
          <div class="modal-content">
            
          </div>          
        </div>
      </div>
<!-- End Modal -->

{% endblock maincontent %}

{% block script %}

<script>
    $('.create-btn').click(function(){
        /* 
            AJAX Request
            URL, METHOD defualt = GET, DATA, SUCCESS, ERROR
        */
        var url = $(this).data('url');
        $.ajax({
            url:url,
            method:'GET',
            success:function(data){
                $('.modal-content').empty();
                $('.modal-content').append(data);
            },
            error:function(data){
                console.log(data);
            },
        });
    });
</script>
{% endblock %}